= simple_form_for [:admin, @category, @subcategory] do |f|
  .form-inputs
    = f.input :name

  .form-actions
    = f.button :submit
    = link_to 'Back to list', admin_category_subcategories_path(@category)