/.bundle
npm-debug.log
/db/*.sqlite3
/db/*.sqlite3-journal
/db/structure.sql
/log/*.log
/tmp
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/config/database.yml
/db/*.sqlite3
/public/system/*
/public/all_decision/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
*~
\#*
db/password.hash
.powrc

.DS_Store
public/assets

.watchr
.AppleDouble
.LSOverride
Icon

public/uploads
tmp
data/*
npm-debug.log
