.form-inputs
  = form.association :categories, input_html: { multiple: false}, collection: @tribunal.categories
  = form.association :subcategories, input_html: { multiple: false}, collection: @tribunal.subcategories