.form-inputs.decision_date
  = form.input :decision_date, as: 'string', input_html: { maxlength: 10 }
  = form.input :upload_date, as: 'string', input_html: { maxlength: 10, value: @decision.upload_date || Date.today }
  = form.input :publication_date, as: 'string', input_html: { maxlength: 10 }
