.form-inputs
  = form.input :claimant, as: :dynamic_text_field, label: t('simple_form.labels.decision.claimant')
  = form.input :respondent, as: :dynamic_text_field, label: t('simple_form.labels.decision.respondent')
