%h2 Add decision
= simple_form_for @decision do |form|
  %p Hey Guys
  = render tribunal_form_view_path, form: form, common_view_path: tribunal_common_view_path

  .form-actions
    = form.button :submit, 'Add desision'
    = link_to 'Clear', '#'

