.indicator.cf
  .left
    %p
      %strong Administrator view:
      select a case to edit its details
  .right
    %p
      = link_to 'Admin home', admin_decisions_path
      |
      = link_to 'Categories', admin_categories_path(tribunal_code: current_tribunal.code) if defined?(current_tribunal)
      |
      - if is_admin?
        = link_to 'Users', admin_users_path
        |
      = link_to 'Upload decision', new_admin_all_decision_path
      |
      =link_to 'Log out', destroy_admin_user_session_path, method: 'delete'