.indicator.cf
  %p
    %strong #{Rails.configuration.phase.capitalize}:
    This is a new service -
    %a{:href => new_feedback_path(referrer: request.original_url)}your feedback
    will help us to improve it