.sort-filter
  %label{:for => "date-sort"} Sort by
  = select :search, :sort, options_for_select([["Date added", "created_datetime"], ["Date of decision", "decision_date"]], params[:search][:sort]), {}, {:id => "date-sort", :class => "js-submit-onChange"}
  %noscript
    %button.button.primary{:type => "submit"} Sort