.button,
.button:visited {
  @include border-radius(0);
  font-weight: bold;
  &.secondary {
    background: none;
    color: $black;
    text-decoration: underline;
    font-weight: normal;
    @include box-shadow(none);
    &.left {
      padding-left: 0;
    }
    &.right {
      padding-right: 0;
    }
    &:hover {
      color: $link-active-colour;
    }
  }

  &.button-warning, &.button-warning:visited {
    background-color: #B10E1E;
    color: #fff;
    box-shadow: 0 2px 0 #6A0812;
    &:hover {
      background-color: #990C1A;
    }
  }
}