.button, .button:visited {
  background-color: #dcdcdc;
  color: #2e2e2e;
  @include border-radius(3px);
  @include box-shadow(0 3px 0 #959595);
  &.primary {
    background-color: #008370;
    color: #fff;
    box-shadow: 0 3px 0 #000;
  }
  &:hover {
    background-color: #7fb299;
    color: #fff;
  }

  &.button-warning, &.button-warning:visited {
    background-color: #B10E1E;
    color: #fff;
    box-shadow: 0 2px 0 #6A0812;
    &:hover {
      background-color: #990C1A;
    }
  }
}