// .main {
//   clear: both;
//   border-top: 1px solid #a1a1a1;
//   padding-top: 20px;
//   min-width: 980px;
// }

header h1 {
  margin-right: 140px;
}

// .container {
//   max-width: 980px;
//   margin: auto;
// }

.result {
  background-color:rgb(255, 255, 89);
}

.alert .close{
  display:none;
}