.admin form {
	.long-text-field {
		width: 390px;
		margin: 5px;
		display: inline-block;
	}

	.additional-input {
		display: block!important;
		margin-left: 158px!important;
	}

	.respondent {
		margin-left: 28px!important;
	}
}


