// GOV.UK Toolkit
@import "colours";
@import "typography";
@import "conditionals";
@import "css3";
@import "design-patterns/buttons";

// MOJ Toolkit
@import "moj-base";

// Application
@import "main";
@import "feedbacks";
@import "decisions";
// @import "admin";


.container {
  max-width: 980px;
  margin: auto;
}

.result {
  background-color:rgb(255, 255, 89);
}