.search_form {
  legend {
    margin: 0 0 0.4em;
    padding: 0;

    h2 {
      margin-bottom: 0;
      font-size: 2.4rem;
    }
  }

  label {
    display: block;
    clear: both;
  }

  .status-filter {
    label {
      display: inline;
      margin-right: 15px;
    }
  }

  h2 {
    @include core-24;
    font-size: 2.6rem;
    margin: 0 0 0.3em;
    font-weight: bold;
  }

  h3 {
    @include core-19;
    font-size: 1.8rem;
    margin-top: 10px;
    font-weight: bold;
  }

  .buttons {
    margin-top: 1em;
  }

  input[type="text"],
  input[role="textbox"] {
    width: 97%;
    border: 1px solid #999;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.25;
    margin: 0;
    min-width: 8em;
    padding: 0.25em;
  }
  select {
    width: 300px;
    border: 1px solid #999;
    padding: 4px;
  }

  .help {
    font-size: 1.8rem;
    margin: 0.5em 0 1em;
  }
}